@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html{
    font-family: 'Josefin Sans', sans-serif;
}

#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.flex-item{
    width: 50%;
    background-color: navy;
    margin-left: 10px;
}

.form-filters{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.filter{
    width: 50%;
    margin: 20px;
}


.poster-in{
    padding: 20px;
}

.poster{
    width: 100%;
}

.labels{
    color: white;
}

#title{
    text-align: center;
}