@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
/* Style of the entire page */
html{
  font-family: 'Gemunu Libre', sans-serif;
  background: rgb(250,228,210);
  background: radial-gradient(circle, rgba(250,228,210,1) 0%, rgba(254,189,63,1) 100%);
}

/* Style of the container that includes all elements */
#container{
    position: relative;
    width: 85%;
    background-color: rgba(116, 116, 116, 0.2);
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Style of the results returned */
#query-results{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.res-item{
    width: 25%;
}



hr{
    margin-right: 30px;
    margin-left: 30px;
}

/* Style of the cool button */
.btn-hover {
    width: 45%;
    font-size: 16px;
    font-weight: 600;
    font-family: inherit;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    outline: none;
  }
  
  .btn-hover.btn {
      background-image: linear-gradient(
        to right,
        #f5ce62,
        #e43603,
        #fa7199,
        #e85a19
      );
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    }


/* Style of the poster */
.poster{
    width: 180px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
}

/* Style of the heading of each result item */
.heading-res{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    /* font-family: 'Monoton';
    animation: neon1 1.5s ease-in-out infinite alternate; */
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon3 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
      0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
      0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
  }
}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
      0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
      0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

/* Duration */
.duration{
    font-size: 7rem;
    color: #0080ff;
    display: table;
    margin: 0 auto;
    border-radius: 30%;
    padding: 1rem;
    -webkit-text-stroke: 1px black;
}

/* Style of the YouTube Trailer video */
#trailer-vid{
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    border-radius: 12px;
}

/* Style of the reviews container */
#reviews-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style for each review box */

.card::-webkit-scrollbar{
    display: none;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    display: inline-block;
    height: 300px;
    width: 28.7%;
    margin: 1rem;
    position: relative;
    
    overflow: scroll;
    padding: 0.5rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }


/* Style for each reviews profile picture */
.propic{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
}

/* Styles for the profile image and username */
.user-info{
    display: flex;
    flex-direction: row;
}

.username{
    padding-left: 10px;
    padding-top: 20px;
    font-style: italic;
}

/* Providers List */
.providers-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Genres list */
.gen-list{
    list-style-type: none;
}


.prov-pic{
    border-radius: 20%;
    width: 50px;
    height: 50px;
    padding: 5px;
}


.rating{
    color: white;
    background-color: black;
    width: 16%;
    text-align: center;
    padding: 2px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
}

.platform .facebook{
    color: #0572e6;
}

.platform .twitter{
    color: rgb(29, 155, 240);
}

/* Change the highlight color when selecting text */

::selection {
    color: white;
    background: black;
  }


/* Progress charts */
.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.blue .circle {
  stroke: #0080ff;
}

.percentage {
  fill: white;
  font-size: 0.5em;
  text-anchor: middle;
}

.container-social-media{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 10px;
    position: fixed;
    top: 8px;
    right: 20px;
}


/* back to top button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}