<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Movie Picker</title>
</head>
<body>
 
    <h1 id="title">Movie Picker App</h1>

    <div id="container">
        <!-- Item One -->
        <div class="flex-item">

            <form class="form-filters" method="POST">
                <input class="filter" type="submit" value="Generate random movie">
            </form>
        </div>

        <!-- Item Two -->
        <div class="flex-item poster-in">
            <p id="movie-name">{{movie}}</p>
            <img class="poster" src="{{img_url}}" alt="Movie Poster">
        
        </div>

    </div>


    
</body>
</html>