<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Movie Picker</title>
</head>
<body>
    <form method="POST">
        <input onclick="document.getElementById('movie-name').style.display='block'; document.getElementById('movie-name').innerHTML='{{movie}}'" type="submit" value="Choose movie">
    </form>
    <p id="movie-name" style="display: none;"></p>
</body>
</html>