<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Movie Picker</title>
</head>
<body>
 
    <h1 id="title">Movie Picker App</h1>

    <div id="container">
        <!-- Item One -->
        <div class="flex-item">
            <form class="form-filters" method="POST">
                
                <label class="labels" for="release-year">Release Year</label>
                <input class="filter" type="text" name="release-year">
                <label class="labels" for="genres">Genres</label>
                <select class="filter" name="genres">
                    {% for genre in genres %}
                        <option value="{{genre}}">{{genre}}</option>
                    {% endfor %}
                </select>
                <input class="filter" onclick="document.getElementById('movie-name').style.display='block'; document.getElementById('movie-name').innerHTML='{{movie}}'" type="submit" value="Choose movie">
            </form>
        </div>

        <!-- Item Two -->
        <div class="flex-item poster-in">

            <img class="poster" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/1200px-Image_created_with_a_mobile_phone.png" alt="Movie Poster">
        
        </div>

        <div>
            <p id="movie-name" style="display: none;"></p>
        </div>

    </div>


    
</body>
</html>